/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh; /* ocupa toda la pantalla */
    overflow: hidden;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cubre toda la pantalla sin deformarse */
    object-position: center;
}
